:root {
    --border-radius: 7px;
    --buttom-border-radius: 7px;
    --card-bg: #fff;
    --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
    --card-hover-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.09);
    --btn-hover-color: #ff7242;
    --btn-color: #fff;
    --btn-bg: #49b1f5;
}

/* 全局卡片样式 */
.card {
    border-radius: var(--border-radius);
    box-shadow: var(--card-box-shadow);
    padding: 20px 24px;
    background-color: var(--card-bg);
    /* 变动动画时长 */
    transition: .3s;
}

.card:hover {
    box-shadow: var(--card-hover-box-shadow);
}

/* a标签 */
a {
    text-decoration: none;
    color: #49b1f5;
}

body {
    display: flex;
    margin: 0;
}


/* 登录 */
.login-box {
    /*居中排列*/
    text-align: center;
    width: 50%;
}


.login-box div {
    /* width: 100%; */
    padding-top: 1rem;
}

.login-box input {
    padding: 0.25rem;
    background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
}

.login-box button {
    margin: 1rem;
    padding: 14px;
    border-style: none;
    border-radius: var(--buttom-border-radius);
    background-color: var(--btn-bg);
    /* 变动动画时长 */
    transition: .3s;
}

.login-box button:hover {
    background-color: var(--btn-hover-color);
}

.输入框 {
    border-radius: var(--buttom-border-radius);
    border-style: solid;
    border-color: #dee2e6;
    border-width: 1px;
}

/* 导航栏 */
#右侧菜单栏 {
    width: 30%;
    height: 100vh;
    background-color: #fff;
    box-shadow: var(--card-box-shadow);
}

#右侧菜单栏 li {
    display: flex;
}

#右侧菜单栏 li a {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--card-box-shadow);
    color: black;
    text-align: center;
}

#main {
    display: flex;
    height: 100vh;
    right:0px;
    flex: 1;
    justify-content: center;
    align-items: center;
    /*在容器中央对齐弹性项目*/
    height: 100vh;
}

.snackbar-pos {
    border-radius: var(--border-radius) !important;/* 弹窗圆角 */
    }
.snackbar-container {
    background: var(--btn-bg) !important;/* 弹窗颜色 */
}