:root {
    --border-radius: 7px;
    --buttom-border-radius: 7px;
    --card-bg: #fff;
    --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
    --card-hover-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.09);
    --btn-hover-color: #ff7242;
    --btn-color: #fff;
    --btn-bg: #49b1f5;
}

/* 加载 */
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #49b1f5;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}

.pace .pace-progress-inner {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #49b1f5, 0 0 5px #49b1f5;
	opacity: 1.0;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-moz-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	-o-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
	display: block;
	position: fixed;
	z-index: 2000;
	top: 15px;
	right: 15px;
	width: 14px;
	height: 14px;
	border: solid 2px transparent;
	border-top-color: #49b1f5;
	border-left-color: #49b1f5;
	border-radius: 10px;
	-webkit-animation: pace-spinner 400ms linear infinite;
	-moz-animation: pace-spinner 400ms linear infinite;
	-ms-animation: pace-spinner 400ms linear infinite;
	-o-animation: pace-spinner 400ms linear infinite;
	animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
	0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
	0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
	0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
	0% { transform: rotate(0deg); transform: rotate(0deg); }
	100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/* 全局卡片样式 */
.card {
    border-radius: var(--border-radius);
    box-shadow: var(--card-box-shadow);
    padding: 20px 24px;
    background-color: var(--card-bg);
    /* 变动动画时长 */
    transition: .3s;
}

.card:hover {
    box-shadow: var(--card-hover-box-shadow);
}

/* a标签 */
a {
    text-decoration: none;
    color: #49b1f5;
}

body {
    display: flex;
    margin: 0;
}


/* 登录 */
.login-box {
    /*居中排列*/
    text-align: center;
    width: 50%;
}


.login-box div {
    margin-top: 1rem;
}

.login-box>div>div {
    margin-top: 1rem;
    border-radius: var(--buttom-border-radius);
    border-style: solid;
    border-color: #dee2e6;
    border-width: 1px;
    display: flex;
    justify-content: center;
}

.login-box div label {
    margin-right: -1px;
    text-align: center;
    padding: 0.625rem 0.75rem;
    color: #8898aa;
}

.login-box div input {
    flex: 1;
    border-style: none;
    border-width: 0;
    color: #8898aa;
    padding: 0.625rem 0.75rem;
}

.输入框 {
    border-radius: var(--buttom-border-radius);
    border-style: solid;
    border-color: #dee2e6;
    border-width: 1px;
    padding: 0.625rem 0.75rem;;
}

.按钮 {
    padding: 1rem 1.25rem; /* 0.625rem 1.25rem; */
    margin: 1rem;
    border-style: none;
    border-radius: var(--buttom-border-radius);
    background-color: var(--btn-bg);
    /* 变动动画时长 */
    transition: .3s;
}

.按钮:hover {
    background-color: var(--btn-hover-color);
}

/* 导航栏 */
#右侧菜单栏 {
    width: 30%;
    height: 100vh;
    background-color: #fff;
    box-shadow: var(--card-box-shadow);
}

#右侧菜单栏 li {
    display: flex;
}

#右侧菜单栏 li a {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--card-box-shadow);
    color: black;
    text-align: center;
}

#main {
    display: flex;
    height: 100vh;
    right:0px;
    flex: 1;
    justify-content: center;
    align-items: center;
    /*在容器中央对齐弹性项目*/
    height: 100vh;
}

.snackbar-pos {
    border-radius: var(--border-radius) !important;/* 弹窗圆角 */
    }
.snackbar-container {
    background: var(--btn-bg) !important;/* 弹窗颜色 */
}